$sidebar-width: 280px;
$content-width: 0px;
$side-margin: 12px;


$pattern: url('/resources/dark-polygon.png');
$black: #000;
$white: #FFF;
$light: #ECF0F1;

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
	box-sizing: border-box;
}

.dev-div {
	border: 1px dashed green;
}

#csb-container {
	font-family: "notosans regular";
	font-family: "opensans semibold";
//	font-family:  "lato bold";
//	font-family: "ubuntu medium";
//	font-family: "ubuntu regular";
//	font-family: "Raleway Regular";
//	font-family: "raleway semibold";
//	font-family: "raleway medium";
}

#iframe-sim {
	position: fixed;
	width: $sidebar-width;
	height: 100%;
	right: 0px;
	left: 0px;
	z-index: 1000;
}

.csb-icon {
	position: absolute;
	height: 24px;
	width: 24px;
	top: 0px;
	left: 0px;
	opacity: 0.6;
	transition: opacity 0.25s;
}

.csb-icon:hover {
	opacity: 0.8;
}

#csb-container {
	width: $sidebar-width;
	height: 100%;
//	background: $pattern;
//	background: #707070;
	background: #616161;
//	background: #333333;
//	background: #757575;
//	background: #E7E7E7;
//	background: rgba($black, 0.2);
	position: absolute;
	z-index: 9;
//	background: #444;
//	background: #9E9E9E;
//	background: #616161;
//	background: darken($light, 80);
//	border-right: 8px solid $light;
//	border-right: 2px solid rgba($light, 0.4);
//	box-sizing: content-box;
//	box-shadow: 2px 0px 4px rgba($black, 0.5);
}

#csb-toolbar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: $sidebar-width;
	height: 56px;
	background: $pattern;
	box-shadow: 0px 2px 5px rgba($black, 0.4);
	z-index: 10;
	transition: height 0.5s;
	overflow: hidden;
}

//#csb-toolbar:hover {
//	height: 56+48px;
//}

#csb-toolbar-shelf {
	position: absolute;
	width: $sidebar-width;
	width: 258px;
	height: 48px;
	top: 56px;
	left: 11px;
//	background: #616161;
	display: flex;
}

.csb-shelf-tab {
	font-family: "notosans regular";
	height: 48px;
	width: 86px;
	line-height: 48px;
	text-align: center;
	font-size: 12px;
	color: rgba(white, 0.8);
}

#csb-search-group {
	position: absolute;
	width: 256px;
	height: 34px;
	top: 11px;
	left: 12px;
//	@extend .dev-div;
}

#csb-search-icon {
	top: 5px;
	left: 12px;
	color: rgba(white, 0.8);
}

#csb-icon-group {
	position: absolute;
	width: 24px;
	height: 24px;
	text-align: center;
//	border: 1px dashed green;
//	line-height: 24px;
	right: 16px;
	top: 16px;
//	font-size: 18px;
//	color: rgba(white, 0.6);
}

#csb-search-input {
	background: rgba(white, 0.15);
	border: none;
	outline: none;
	width: 256px;
	height: 34px;

	font-family: "notosans regular";
	padding: 0px 48px;
	font-size: 12px;
	line-height: 34px;

	color: rgba(#fff, 0.8);
	border-radius: 2px;
		box-shadow: 0px 2px 5px rgba($black, 0.3);
}

#dummy-content-body {
	position: absolute;
//	background: rgba($white, 0.2);
//	background: $pattern;
//	background: rgba($black, 0.7);
	width: 270px;
	height: 90%;
	left: 10px;
	top: 56px;
//		box-shadow: 0px 2px 5px rgba($black, 0.4);
	overflow:hidden
}

body {
	background: black;
}

#under {
	position: absolute;
	width: 284px;
	height: 100%;
	background: #9e9e9e;
	top: 0px;
	left: 0px;
	z-index: -1;
//	opacity: 0.8;
	box-shadow: 10px 0px 20px rgba($black, 0.4);
	display: none;
}

.bb-tab-item {
//	margin-bottom: 2px;
}

#ellipsis-icon {
	position: absolute;
	font-size: 20px;
	color: rgba($white, 0.6);
	right: 12px;
	top: 18px;
}

#csb-brand {
	position: absolute;
	width: 24px;
	height: 24px;
	font-size: 20px;
	color: rgba(white, 0.2);
	line-height: 28px;
	top: 16px;
	left: 16px;
}


.hungry {
	position: absolute;
	z-index: 3000;
}

.bb-test {
//	background-color: rgba(black, 0.5);
}

.bb-test-item {
	margin-left: -10px;
	margin-top: -26px;
}

.bb-tab-content {
	box-shadow: 0px 0px 5px rgba(black, 0.3);
	background: $light;
	font-family: "notosans regular";
//	transform-origin: right;
	transition: all 0.15s;
//	background:none;
//	backface-visibility: hidden;
}

.bb-tab-title {
//	-webkit-font-smoothing: antialiased;
//	font-family: "notosans regular";
//	font-size: 11px;
}

.bb-tab-content:hover {
	z-index: 1000;
	transform: scale(1.05);
	background: white;
//	background: #616161;
//	color: white;
//	transform: perspective(1000);
	
//	font-size; 14px;
//	opacity: 0.8;
	box-shadow: 0px 1px 2px rgba(black, 0.3);
}

.bb-tab-content:hover .bb-tab-title {
//	font-size: 12px;
//	font-weight: 700;
}


//.tab-bg {
//	position: absolute;
//	top: 0px;
//	z-index: -1;
//	height: 34px;
//	width: 100%;
//	background: green;
//	transition: transform 0.3s;
//	transform-origin: right;
//}

//.bb-tab-item {
//	overflow: visible;
////	position: relative;
//}

//.bb-tab-item:hover .tab-bg{
//	transform: scale(1.1);
//	transform-origin: right;
////	z-index: 10;
//}

/**
 * Content Area
 */
#csb-content-area {
//	z-index: 100;
	position: absolute;
	width: 280px;
	top: 56px;
	bottom: 36px;
	
//	border: 2px dashed yellow;
//	padding-top: 320px;
}

#csb-divider {
	position: absolute;
	z-index: 1000;
	width: 6px;
	height: 100%;
	background: white;
	right: 0px;
	top: 0px;
	box-shadow: 0px 0px 5px rgba(black, 0.3);
}

.csb-tab-list {
	padding-left: 16px;
}

.csb-root-list {
	padding-left: 12px;
	padding-right: 6px;
}

/**
 * Tab Styling
*/
$tab-height: 32px;
$tab-radius: 2px;

.csb-tab-item {
	
	background: rgba(white, 0.8);
	border-bottom: 1px solid rgba(black, 0.12);
	border-top-left-radius: $tab-radius;
	border-bottom-left-radius: $tab-radius;
	
	height: $tab-height;
	width: 100%;
	position: relative;
	transition: all 0.15s;
}

.csb-tab-item:hover {
//	transform: scale(1.05);
	height: 42px;
	margin-top: -10px;
//	width: 102%;
//	margin-left: -2%;
	line-height: 36px !important;
	background: rgba(white, 0.9);
	z-index: 1000;
	box-shadow: -2px 2px 4px rgba(black, 0.3);
}

.csb-tab-item:hover .csb-tab-title {
	line-height: 42px;
}

.csb-tab-active {
	height: 38px;
	margin-top: -3px;
	margin-bottom: -3px;
	width: 102%;
	margin-left: -2%;
	background: white;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	z-index: 12;
}

.csb-tab-active .csb-tab-title {
	line-height: 36px;
}

.csb-tab-collapse {
	background-image: url('/resources/icons/ic_arrow_drop_down_black_24dp.png');
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 4px;
	transform: rotate(-90deg);
	opacity: 0.5;
	transition: transform 0.3s, opacity 0.3s;
}

.csb-tab-collapse:hover {
	transform: rotate(0deg);
	opacity: 1;
}

.csb-tab-icon {
	width: 16px;
	height: 16px;
	top: 8px;
left: 24px;
	position: absolute;
}

.csb-tab-title {
	height: $tab-height;
	line-height: $tab-height;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 24 + 8+16px;
	padding-right: 36px;
	font-size: 11.5px;
	font-size: 11px;
}

.csb-tab-action {
	position: absolute;
	width: 24px;
	height: 24px;
	right: 8px;
	top: 4px;
	
	background-image: url('/resources/icons/ic_close_black_18dp.png');
	background-image: url('/resources/icons/close.png');
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center;
	transition: background 0.3s;
	opacity: 0.8;
}

.csb-tab-action:hover {
	background-image: url(/resources/icons/ic_cancel_black_18dp.png);
//	background-image: url(/resources/icons/remove-on.png);
}
