/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/* line 22, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

/* line 22, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 22, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
body {
  line-height: 1; }

/* line 22, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
ol, ul {
  list-style: none; }

/* line 22, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
blockquote, q {
  quotes: none; }

/* line 22, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

/* line 22, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 33, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
*, *:before, *:after {
  box-sizing: border-box; }

@font-face {
  font-family: "Lato Regular";
  src: url('chrome-extension://__MSG_@@extension_id__/assets/Lato-Regular.ttf'); }

@font-face {
  font-family: "Lato Bold";
  src: url('chrome-extension://__MSG_@@extension_id__/assets/Lato-Bold.ttf'); }

@font-face {
  font-family: "Lato Black";
  src: url('chrome-extension://__MSG_@@extension_id__/assets/Lato-Black.ttf'); }

@font-face {
  font-family: "OpenSans Regular";
  src: url('chrome-extension://__MSG_@@extension_id__/assets/OpenSans-Regular.ttf'); }

@font-face {
  font-family: "OpenSans Semibold";
  src: url('chrome-extension://__MSG_@@extension_id__/assets/OpenSans-Semibold.ttf'); }

@font-face {
  font-family: "Raleway Regular";
  src: url('chrome-extension://__MSG_@@extension_id__/assets/Raleway-Regular.ttf'); }

@font-face {
  font-family: "OpenSans Bold";
  src: url('chrome-extension://__MSG_@@extension_id__/assets/OpenSans-Bold.ttf'); }

@font-face {
  font-family: "Raleway Bold";
  src: url('chrome-extension://__MSG_@@extension_id__/assets/Raleway-Bold.ttf'); }

@font-face {
  font-family: "Raleway Semibold";
  src: url('chrome-extension://__MSG_@@extension_id__/resources/Raleway-SemiBold.ttf'); }

@font-face {
  font-family: "NotoSans Regular";
  src: url('chrome-extension://__MSG_@@extension_id__/resources/NotoSans-Regular.ttf'); }

/* line 88, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
body {
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s; }

/* line 101, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-sidebar {
  box-sizing: border-box;
  height: 100%;
  width: 250px;
  padding-top: 48px;
  padding-bottom: 30px;
  text-align: left;
  position: fixed;
  z-index: 9999;
  font-family: "Raleway Semibold", "OpenSans Regular", "Lato Regular", sans-serif;
  background: #E6E6E6;
  background: #383838;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s; }

/* line 138, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-sidebar::-webkit-scrollbar-track {
  border-radius: 3px; }

/* line 142, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-sidebar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

/* line 147, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-sidebar-open {
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate(250px, 0, 0); }

/* line 152, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-body-open {
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate(250px, 0, 0); }

/* line 159, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-padding-open {
  -webkit-transform: translate3d(250px, 0, 0); }

/* line 165, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-top-bar-open {
  -webkit-transform: translate3d(250px, 0, 0); }

/* line 172, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-padding {
  position: fixed;
  bottom: 0px;
  width: 250px;
  height: 30px;
  background: #ECF0F1;
  font-family: "GillSans";
  text-align: center;
  line-height: 30px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  z-index: 10000; }

/* line 192, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-top-bar {
  position: fixed;
  top: 0px;
  width: 250px;
  height: 48px;
  background-image: #383838;
  font-family: "GillSans";
  line-height: 40px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  z-index: 10000;
  box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid yellow;
  border: none; }

/* line 214, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-options {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  right: 14px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  top: 12px; }

/* line 224, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-search-group {
  position: absolute;
  width: 190px;
  left: 15px;
  top: 12px;
  box-sizing: border-box; }

/* line 231, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-search {
  font-family: "Raleway Semibold";
  padding: 0px 16px;
  font-size: 11px;
  position: absolute;
  left: 0px;
  outline: none;
  height: 24px;
  width: 100%;
  border-radius: 12px;
  border: none;
  background: rgba(0, 0, 0, 0.4);
  color: white; }

/* line 248, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-search-icon {
  font-size: 12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  right: 12px;
  color: #526A82; }

/* line 258, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3); }

/* line 264, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-item {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 250px;
  width: 244px;
  height: 28px;
  transition: all 0.25s ease-in-out;
  z-index: 1; }

/* line 293, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-window-tab {
  padding-left: 0px; }

/* line 298, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-item:last-child .bb-tab-content {
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px; }

/* line 303, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-remove {
  position: absolute;
  font-size: 14px;
  left: -12px;
  opacity: 0.4;
  display: none; }

/* line 311, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-close {
  background-image: url('/remove-off.png');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  width: 32px;
  height: 28px;
  transition: all 0.25s;
  opacity: 0.5; }

/* line 327, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-item:hover {
  opacity: 0.9; }

/* line 331, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-close:hover {
  background-image: url('/remove-on.png'); }

/* line 336, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tree-toggle {
  position: absolute;
  width: 16px;
  height: 28px;
  line-height: 28px;
  top: 0px;
  left: 0px;
  text-align: center; }

/* line 344, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-content {
  box-sizing: border-box;
  height: 28px;
  position: relative;
  background: #ECF0F1;
  background: rgba(236, 240, 241, 0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px; }

/* line 372, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-icon {
  position: absolute;
  display: block;
  left: 16px;
  top: 6px;
  width: 16px;
  height: 16px; }

/* line 379, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-title {
  display: block;
  height: 28px;
  line-height: 28px;
  font-size: 11px;
  padding: 0px 28px 0px 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default; }

/* line 394, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-title a {
  font-size: 12px;
  text-decoration: none;
  color: black !important; }

/* line 400, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-self .bb-tab-content {
  background: rgba(236, 240, 241, 0.4);
  color: white; }

/* line 410, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-display-none {
  display: none; }

/* line 414, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-child {
  opacity: 0.5; }

/* line 418, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-window-tab .bb-tab-content {
  background: rgba(236, 240, 241, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

/* line 428, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-window-tab .bb-tab-title {
  font-size: 12px;
  padding: 0px 12px 0px 22px; }

/* line 433, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-window-tab:nth-child(2) {
  margin-top: 20px; }

/* line 437, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-right-bar {
  position: fixed;
  width: 6px;
  height: 100%;
  background: #ECF0F1;
  z-index: 999999999;
  right: 0px;
  top: 0px;
  opacity: 0.1;
  background: #383838; }

/* line 451, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-activate {
  height: 90px;
  width: 45px;
  border-radius: 0 90px 90px 0;
  border-radius: 90px 0 0 90px;
  background: green;
  position: absolute;
  top: 50%;
  right: -10px; }

/* line 462, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-tab-list {
  position: absolute;
  width: 250px;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 48px;
  margin-bottom: 30px;
  background: #383838;
  background-image: #383838;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: scroll; }

/* line 485, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-cover {
  position: absolute;
  width: 250px;
  height: auto;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 48px;
  margin-bottom: 30px;
  background: rgba(56, 56, 56, 0.4);
  transition: opacity 0.1s ease-in-out;
  pointer-events: none; }

/* line 503, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-cover-off {
  opacity: 0; }

/* line 507, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
::-webkit-scrollbar {
  width: 6px; }

/* line 511, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
::-webkit-scrollbar-track {
  background: #ECF0F1; }

/* line 517, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #b4bdc3; }

/* line 523, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-not-active {
  opacity: 0.6; }

/* line 527, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-visible {
  z-index: 2; }

/*# sourceMappingURL=sidebar.css.map */