@font-face {
  font-family: "Lato Regular";
  src: url('/resources/Lato-Regular.ttf'); }

@font-face {
  font-family: "Lato Bold";
  src: url('/resources/Lato-Bold.ttf'); }

@font-face {
  font-family: "Lato Black";
  src: url('/resources/Lato-Black.ttf'); }

@font-face {
  font-family: "OpenSans Regular";
  src: url('/resources/OpenSans-Regular.ttf'); }

@font-face {
  font-family: "OpenSans Semibold";
  src: url('/resources/OpenSans-Semibold.ttf'); }

@font-face {
  font-family: "Raleway Regular";
  src: url('/resources/Raleway-Regular.ttf'); }

@font-face {
  font-family: "OpenSans Bold";
  src: url('/resources/OpenSans-Bold.ttf'); }

@font-face {
  font-family: "Raleway Bold";
  src: url('/resources/Raleway-Bold.ttf'); }

@font-face {
  font-family: "Raleway Semibold";
  src: url('/resources/Raleway-SemiBold.ttf'); }

@font-face {
  font-family: "Raleway Medium";
  src: url('/resources/fonts/Raleway-Medium.ttf'); }

@font-face {
  font-family: "NotoSans Regular";
  src: url('/resources/NotoSans-Regular.ttf'); }

@font-face {
  font-family: "Ubuntu Regular";
  src: url('/resources/fonts/Ubuntu-Regular.ttf'); }

@font-face {
  font-family: "Ubuntu Medium";
  src: url('/resources/fonts/Ubuntu-Medium.ttf'); }

/* line 73, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
body {
  background: #F2F3F5;
  background: rgba(0, 0, 0, 0.5); }

/* line 79, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#csb-sidebar {
  box-sizing: border-box;
  position: absolute;
  width: 280px;
  height: 100%;
  background: #444;
  background: #373737;
  left: 0px;
  box-shadow: 30px 0px 10px rgba(0, 0, 0, 0.4);
  border: none;
  background: #424242;
  background: #E0E0E0;
  background: #9E9E9E;
  background: #616161;
  background: url('/resources/dark-polygon.png');
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.36); }

/* line 109, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#csb-topbar {
  position: absolute;
  width: 280px;
  height: 56px;
  background: #F1F1F1;
  background: rgba(0, 0, 0, 0.1);
  border-right: 8px solid #5e5e5e;
  box-sizing: border-box;
  border-right: 8px solid #ECF0F1;
  border: none;
  background: #E0E0E0;
  background: #424242;
  background: url('/resources/dark-polygon.png');
  z-index: 10;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); }

/* line 130, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#csb-tab-body {
  position: absolute;
  top: 56px;
  width: 280px;
  height: 100%;
  border-right: 8px solid #ECF0F1;
  box-sizing: border-box; }

/* line 142, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#csb-tab-body-overlay {
  position: absolute;
  width: 280px;
  height: 100%;
  background: rgba(236, 240, 241, 0.2); }

/* line 151, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-content {
  box-sizing: border-box;
  height: 32px;
  position: relative;
  background: rgba(236, 240, 241, 0.85);
  background: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px; }

/* line 184, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-window-tab .bb-tab-content {
  background: rgba(236, 240, 241, 0.7);
  border: none;
  border-right: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  z-index: 2;
  width: 280px;
  display: none; }

/* line 210, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-icon {
  position: absolute;
  display: block;
  left: 16px;
  top: 6px;
  width: 16px;
  height: 16px; }

/* line 217, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
.bb-tab-title {
  font-family: "notosans regular";
  font-family: "raleway semibold";
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 11px;
  padding: 0px 28px 0px 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default; }

/* line 237, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#iframe {
  position: absolute;
  width: 100%;
  height: 100%; }

/* line 243, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); }

/* line 250, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-search-group {
  position: absolute;
  width: 148px;
  padding: none;
  left: 16px;
  top: 13px;
  box-sizing: border-box; }

/* line 258, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#bb-search {
  font-family: "Raleway Semibold";
  padding: 0px 36px;
  font-size: 12px;
  position: absolute;
  left: 0px;
  outline: none;
  height: 30px;
  width: 100%;
  border-radius: 12px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.15);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 2px; }

/* line 277, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

/* line 283, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#csb-bottom-bar {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  height: 36px;
  width: 280px;
  background: #ecf0f1; }

/* line 293, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#search-icon {
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 12px; }

/* line 300, /Users/albert/Development/chrome-sidetab/sidebar/sidebar.scss */
#ellipsis {
  position: absolute;
  font-size: 24px;
  right: -94px;
  color: rgba(255, 255, 255, 0.6);
  top: 4px; }

/*# sourceMappingURL=sidebar.css.map */