$tab-height: 32px;
$light: #f1f1f1;
$light: #ECF0F1;
$dark: #424242;
$pattern: url('/resources/dark-polygon.png');
//$background-image: url('/resources/icons-asphalt.jpg');

@font-face {
	font-family: "Lato Regular";
	src: url('/resources/Lato-Regular.ttf');
}

@font-face {
	font-family: "Lato Bold";
	src: url('/resources/Lato-Bold.ttf');
}

@font-face {
	font-family: "Lato Black";
	src: url('/resources/Lato-Black.ttf');
}

@font-face {
	font-family: "OpenSans Regular";
	src: url('/resources/OpenSans-Regular.ttf');
}

@font-face {
	font-family: "OpenSans Semibold";
	src: url('/resources/OpenSans-Semibold.ttf');
}

@font-face {
	font-family: "Raleway Regular";
	src: url('/resources/Raleway-Regular.ttf');
}

@font-face {
	font-family: "OpenSans Bold";
	src: url('/resources/OpenSans-Bold.ttf');
}

@font-face {
	font-family: "Raleway Bold";
	src: url('/resources/Raleway-Bold.ttf');
}

@font-face {
	font-family: "Raleway Semibold";
	src: url('/resources/Raleway-SemiBold.ttf');
}

@font-face {
	font-family: "Raleway Medium";
	src: url('/resources/fonts/Raleway-Medium.ttf');
}

@font-face {
	font-family: "NotoSans Regular";
	src: url('/resources/NotoSans-Regular.ttf')
}

@font-face {
	font-family: "Ubuntu Regular";
	src: url('/resources/fonts/Ubuntu-Regular.ttf');
}

@font-face {
	font-family: "Ubuntu Medium";
	src: url('/resources/fonts/Ubuntu-Medium.ttf');
}

body {
	background: #F2F3F5;
	background: rgba(0,0,0,0.5);
//	background: #444;
}

#csb-sidebar {
	box-sizing: border-box;
	position: absolute;
	width: 280px; height: 100%;
	background: #444;
	background: #373737;
//	background: #2F363D;
	left: 0px;
//	border-right: 8px solid #f1f1f1;
//	border-right: 8px solid rgba(255, 255, 255, 0.2);
//	border-bottom: 32px solid #f1f1f1;
box-shadow: 30px 0px 10px rgba(0,0,0,0.4);
	border: none;
//	background: $background-image;
	background: #424242;
	background: #E0E0E0;
	background: #9E9E9E;
	background: #616161;
//	background: #424242;
//	background: #464848;
//	background: #a5a8a8;
//	background: $light;
	background: $pattern;
//	background: #E5E5E5;
	
	box-shadow: 2px 0px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 2px 0px 5px rgba(0,0,0,0.36);
}


#csb-topbar {
	position: absolute;
	width: 280px; height: 56px;
	background: #F1F1F1;
//	background: #444;
//	background: rgba(#f1f1f1, 0.5);
	background: rgba(0,0,0,0.1);
	border-right: 8px solid lighten(#444, 10%);
	box-sizing: border-box;
	border-right: 8px solid $light;
	border: none;
	background: #E0E0E0;
	background: #424242;
	background: $pattern;
//	box-shadow: 0px 2px 0px rgba(0,0,0,0.4);
	z-index: 10;
//	background: #757575;
//	background: #464848;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
}

#csb-tab-body {
	position: absolute;
	top: 56px;
	width: 280px;
	height: 100%;
//	border-right: 8px solid rgba($light, 0.3);
	border-right: 8px solid $light;
//	border-right: 8px solid rgba($light, 0.75);
//	border-bottom: 80px solid rgba($light, 0.7);
	box-sizing: border-box;
}

#csb-tab-body-overlay {
	position: absolute;
//	top: 56px;
	width: 280px;
	height: 100%;
	background: rgba($light, 0.2);
//	background: $light;
}

.bb-tab-content {
	box-sizing: border-box;
	height: $tab-height;
	position: relative;
//	background: $light;
	background: rgba($light, 0.85);
	background: white;
//	box-shadow: 0px 2px 5px rgba(black, 0.26);
//	background: rgba($dark, 0.2);
//	background: rgba($light, 0);
//	border-bottom: 1px solid $medium;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	
//	border-top-left-radius: 2px;
//	border-bottom-left-radius: 2px;
//	border-radius: 4px;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
//	border-right: 8px solid $light;
//	border-radius: 2px;
	
//	background: none;
//	border: none;
//	color: rgba(255, 255, 255, 0.9);
	
//	transition: all .25s;
//	transition: all 1.0s;
	
//	transition: all 1.5s;
	
}

.bb-window-tab .bb-tab-content {
	background: rgba($light, 0.7);
//	background: rgba($dark, 0.9);
//	background: rgba(0,0,0,0);
//	color: rgba(255, 255, 255, 0.8);
	border: none;
	border-right: 8px solid rgba(0,0,0,0.2);;
//	border-right: 18px solid $light;
	border-radius: 0;
//	border: none;
//	box-shadow: 0 2px 0px rgba(0,0,0,0.2);
	z-index: 2;
	width: 280px;
//	color: white;
	display: none;
//	border-bottom-left-radius: 2px;
}

//.bb-tab-content:hover {
//	background: darken($light, 10%);
//}

//.bb-tab-item:nth-child(odd) .bb-tab-content {
//	background: darken($light, 5%);
//}

.bb-tab-icon {
	position: absolute;
	display: block;
	left: 16px; top: 6px;
	width: 16px; height: 16px;
}

.bb-tab-title {
	font-family: "notosans regular";
//	font-family: "opensans semibold";
//	font-family: "lato bold";
	font-family: "raleway semibold";
//	font-weight: 600;
	display: block;
	height: $tab-height;
	line-height: $tab-height;
	
	font-size: 11px;
	padding: 0px 28px 0px 36px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
//	color: white;
}

#iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

#overlay {
	position:absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

#bb-search-group {
	position: absolute;
	width: 148px;
	padding: none;
	left: 16px; top: 13px;
	box-sizing: border-box;
}

#bb-search {
	font-family: "Raleway Semibold";
	padding: 0px 36px;
	font-size: 12px;
	
	position: absolute;
	left: 0px;
	outline: none;
	height: 30px;
	width: 100%;
	border-radius: 12px;
	border: none;
	background: rgba(0,0,0,0.3);
	background: rgba(255, 255, 255, 0.15);
	color: rgba(0,0,0,0.8);
	border-radius: 2px;
//	border: 2px solid $chrome-dark;
}

::-webkit-input-placeholder {
//   color: #526A82;
	color: rgba(255,255,255,0.5);
//	color: rgba(0,0,0,0.5);
}

#csb-bottom-bar {
	position: fixed;
	z-index: 100;
	bottom: 0px;
	height: 36px;
	width: 280px;
	background: rgba($light, 1);
//	background: $pattern;
}

#search-icon {
	font-size: 16px;
	line-height: 30px;
	color: rgba(255,255,255,0.8);
	margin-left: 12px;
}

#ellipsis {
	position: absolute;
	font-size: 24px;
	right: -94px;
	color: rgba(255,255,255,0.6);
	top: 4px;
}